body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fundo {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 30px;
}


.botao {
    text-align: center;
    border: 1px solid rgb(255, 0, 212);
    background-color: rgb(255, 0, 212);
    color: white;
    font: 400 normal 18px/24px sans-serif;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.3s;
}

.botao:hover {
    background: #fff;
    color: rgb(255, 0, 212);
    box-shadow: 0 0 5px rgb(255, 0, 212);
}